body {
  margin: 0;
  padding: 0;
}

fieldset {
  height: 25px;
  border-radius: 4px;
  border-style: dotted;
}

input {
  border: none;
  outline-style: none;
  width: 100%;
  background-color: #e9eff1;
}

legend, label {
  font-size: 16px;
}

label {
  font-weight: bold;
}

select {
  font-size: 14px;
}

option {
  border-radius: 8px;
  font-size: 14px;
}

.section-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 20px;
  border: 1px solid black;
  padding: 20px;
  background-color: #e9eff1;
  box-shadow: 2px 2px #969696;
  border-radius: 8px;
}

.form-courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.courses {
  width: 75%;
}

.btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 50%;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  background-color: #6af576;
}

.btn:hover {
  cursor: pointer;
  background-color: #2bd139;
}

@media (max-width: 500px) {
  legend, label, select {
    font-size: 16px;
  }
}